---
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';
import Other from '../../components/Other.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
<body>
	<main>
		<Header active="other"/>
		<Other />
	</main>
</body>
</html>
