---
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';

---
<html lang="en">
	<head>
		<Head />
	</head>
<body>
	<main>
		<Header active="other"/>
		hm maby
	</main>
</body>
</html>
