@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --darker-background-color: #0D1011;
  --background-color: #22222b;
  --text-color: #fff;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--background-color);
}