@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
