header {
  z-index: 10;
  background-color: var(--darker-background-color);
  position: absolute;
  height: 3.5rem;
  width: 100vw;
  top: 0;
  display: grid;
  grid-template-areas: "title nav";
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.nav {
  grid-area: nav;
  display: flex;
}

.nav > .item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.nav > .item:hover, .nav > .item.active {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: .2rem;
  border-bottom-style: solid;
  border-bottom-color: var(--text-color);
}

.nav > .item.active {
  pointer-events: none;
  background-color: var(--background-color);
  border-bottom-color: var(--background-color);
  border-top-color: var(--darker-background-color);
}

.nav > .item > .item-name {
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  header { grid-template-areas: "nav";}
  .title { display: none; }
}