.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.profile-wrapper {
  --profile-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  background-color: var(--light-invisible-darker-background-color);
  box-shadow: 0rem 0rem .1rem .2rem var(--light-invisible-text-color);
  border-radius: 1rem;
  width: var(--profile-width);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: all 50ms ease-in-out;
}

.profile:hover {
  box-shadow: none;
  transform: scale(101%);
}

.profile > .avatar > img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  transition: all 100ms ease-in-out;
}

.profile > .avatar:hover > img {
  border: .1rem solid var(--text-color);
}

.profile > .username::before {
  content: 'Good Day! ';
  color: var(--text-color);
  font-weight: lighter;
}

.profile > .username {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--red);
  border-bottom: .1rem solid var(--text-color);
  font-style: italic;
}

.profile > .quote {
  text-align: center;
  font-style: italic;
}

.shortcuts {
  display: flex;
  width: var(--profile-width);
  background-color: var(--light-invisible-darker-background-color);
  box-shadow: 0rem 0rem .1rem .2rem var(--light-invisible-text-color);
  justify-content: space-evenly;
  border-radius: 1rem;
  padding: .4rem;
  transition: all 100ms ease-in-out;
}

.shortcuts:hover {
  box-shadow: none;
  transform: scale(101%);
}

.shortcuts > .item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.shortcuts > .item > img {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 50ms ease-in-out;
}
.shortcuts > .item:hover > img {
  transform: scale(115%);
}

@media only screen and (max-width: 900px) {
  .profile-wrapper {
    --profile-width: 20rem;
  }
  .shortcuts {
    display: none;
  }
}