---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';

---
<html lang="en">
	<head>
		<Head />
	</head>
<body>
	<main>
		<Header active="about"/>
		<About />
	</main>
</body>
</html>
