---
import Head from '../components/Head.astro';
import Home from '../components/Home.astro';
import Header from '../components/Header.astro';
import Background from '../components/Background.astro';
---
<html lang="en">
	<head>
		<Head />
	</head>
<body>
	<main>
		<Background client:load/>
		<Header active="home" client:load/>
		<Home client:load/>
	</main>
</body>
</html>
