@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --base-background-color: #1D2021;
    --base-text-color: #f8e9e2;
    --base-width: 750px;

    --header-color: #272A2B;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Varela Round', 'Courier New', Courier, sans-serif;
    color: var(--base-text-color);
    background: url("https://raw.githubusercontent.com/janleigh/walls/master/gruvbox/gruvbox-8.png"), 
        var(--base-background-color);
    background-size: cover;
    background-repeat: no-repeat;
}

div.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}