---
// stuff
---
<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/about.css")}>
<div class="main">
  <section class="about-header">
      <div class="about-title">
        <h1>Yo, I am <b>Aishen</b>.</h1>
      </div>
      <div class="about-overview">
        <p>A Filipino, senior high-school nerd, and a computer science devotee</p>
      </div>
  </section>
</div>