---
// TODO: Make background load randomly
---

<div class="background"></div>
<style>
.background {
  z-index: -1;
  background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.8)), url('./assets/background/clouds.jpg');
  background-size: cover;
  filter: blur(.1rem);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
</style>