---
import { title } from "../data/config.json"; 
const { active = "none" } = Astro.props;
---
<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/header.css")}>
<header class="unselectable">
  <div class="title"><h2>{title}</h2></div>
  <div class="nav">
    <a href="/" class={active === 'home' ? 'item active' : 'item'}>
      <div class="item-name">Home</div>
    </a>
    <a href="/about" class={active === 'about' ? 'item active' : 'item'}>
      <div class="item-name">About</div>
    </a>
    <a href="/other" class={active === 'other' ? 'item active' : 'item'}>
      <div class="item-name">Other</div>
    </a>
  </div>
</header>