---
/** TODO!! REFACTOR ALL THIS SHIT. */
import { title } from "../data/config.json"; 
const { active = "home" } = Astro.props;
---

<header class="unselectable">
  <div class="title"><h2>{title}</h2></div>
  <div class="nav">
    <a href="/" class={active === 'home' ? 'item active' : 'item'}>
      <div class="item-name">Home</div>
    </a>
    <a href="/about" class={active === 'about' ? 'item active' : 'item'}>
      <div class="item-name">About</div>
    </a>
    <a href="/other" class={active === 'other' ? 'item active' : 'item'}>
      <div class="item-name">Other</div>
    </a>
  </div>
</header>
<style>
  header {
    background-color: var(--darker-background-color);
    position: absolute;
    height: 3.5rem;
    width: 100vw;
    top: 0;
    display: grid;
    grid-template-areas: "title nav";
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
  }

  .nav {
    grid-area: nav;
    display: flex;
  }

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 50ms ease-in-out;
  }

  .item:hover, .active{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-style: solid;
    border-bottom-color: var(--text-color);
  }

  .active {
    pointer-events: none;
    background-color: var(--background-color);
    border-bottom-color: var(--background-color);
  }

  .item-name {
    color: var(--text-color);
  }

  @media screen and (max-width: 900px) {
    header { grid-template-areas: "nav"; }
    .title { display: none; };
  }

</style>