---
import { description, name } from "../data/config.json";
---

<meta charset="UTF-8">
<meta name="author" content="Aishen">
<meta property="og:url" content="https://aishenreemo.github.io">
<meta property="og:title" content="Portfolio Website">
<meta property="og:type" content="website">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={description}>
<meta name="keywords" content="aishen">
<link rel="icon" type="image/png" href="/favicon.ico"/>
<title>{name}</title>
<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
