---
import {title, description} from "../data/config.json";
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Description" content={description}>
<title>{title}</title>
<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>