---
// TODO: hm yes make this better
---
<div class="wrapper">
  <a href="https://github.com/kunaishen/kunaishen.github.io/" class="item source-code">
    <div class="item-name">Source Code</div>
    <div class="item-description">the version of this website as it is originally written.</div>
  </a>
  <a href="/other/tictactoe" class="item tictactoe">
    <div class="item-name">Tic Tac Toe</div>
    <div class="item-description">Play tictactoe (not done yet).</div>
  </a>
  <a href="/other/connect4" class="item connect4">
    <div class="item-name">Connect 4</div>
    <div class="item-description">Play connect4 (not done yet).</div>
  </a>
</div>

<style>
  .wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: .1rem;
    grid-template-areas: "source-code source-code"
      "tictactoe connect4";
  }

  .source-code {
    grid-area: source-code;
  }

  .tictactoe {
    grid-area: tictactoe;
  }

  .connect4 {
    grid-area: connect4;
  }

  .item {
    background-color: var(--darker-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }

  .item-name {
    color: var(--text-color);
    font-size: 2rem;
  }

  .item-description {
    color: var(--darker-background-color);
    font-size: .7rem;
    transition: all 100ms ease-in-out;
  }

  .item:hover > .item-description {
    color: var(--text-color);
  }
</style>