@import url("https://rsms.me/inter/inter.css");

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--palette-darkest);
    color: var(--palette-lighter);
}

section {
    animation: 1.5s ease-out 0s 1 slide;
}

a {
    text-decoration: none;
}
