section.intro {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

section.intro > div.intro-title {
    font-size: clamp(1rem, 8vmin, 3rem);
}

section.intro > div > span {
    font-weight: bold;
    color: var(--palette-lightest);
}

section.intro > div.intro-subtitle {
    font-size: clamp(.5rem, 8vmin, 2rem);
}

section.intro > div:nth-child(n % 2 + 1) > span {
    font-weight: bold;
    color: var(--palette-lightest);
}
