hr {
    color: var(--palette-medium);
    opacity: 0.2;
}

section.intro {
    cursor: default;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

section.intro > div.intro-title {
    font-size: clamp(1rem, 8vmin, 3rem);
}

section.intro > div.intro-title > span {
    animation: 3s ease-in 0s 1 slide; 
}

section.intro > div > span {
    font-weight: bold;
    color: var(--palette-lightest);
}

section.intro > div.intro-subtitle {
    font-size: clamp(.5rem, 8vmin, 2rem);
}

section.intro > div:nth-child(n % 2 + 1) > span {
    font-weight: bold;
    color: var(--palette-lightest);
}

section.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

section.about > div.about-title {
    color: var(--palette-lightest);
    font-size: clamp(1rem, 8vmin, 3rem);
}
