section.intro {
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

section.intro > div.intro-title {
    font-size: 3rem;
}

section.intro > div > span {
    font-weight: bold;
    color: var(--palette-lightest);
}

section.intro > div.intro-subtitle {
    font-size: 2rem;
}

section.intro > div:nth-child(n % 2 + 1) > span {
    font-weight: bold;
    color: var(--palette-lightest);
}

